img {
	padding-bottom: 1em;
}

.big {
	font-size: larger;
}

.purple {
	color: rebeccapurple;
}

.red {
	color: red;
}

.blue {
	color: blue;
}

.ain {
	color: aqua;
	font-style: italic;
}

.out {
	color: darkcyan;
	font-weight: 700;
}